In [1]:
import pandas as pd

### Creating DataFrame in different ways:

#### Using lists:

In [2]:
names = ['Zayn', 'Harry', 'Louis', 'Niall', 'Liam']
ages = [24, 22, 26, 25, 25]
pets = ['Cat', 'Louis', 'Dog', 'Fish', 'Dog']

df_from_lists = pd.DataFrame()
df_from_lists['Name'] = names
df_from_lists['Age'] = ages
df_from_lists['Pet'] = pets
df_from_lists

    Name  Age    Pet
0   Zayn   24    Cat
1  Harry   22  Louis
2  Louis   26    Dog
3  Niall   25   Fish
4   Liam   25    Dog

#### Using dictionary:

In [3]:
total_dict = {'Car name':['BMW', 'Mercedes', 'Zhiguli', 'Toyota', 'Mazda'], 
              'Color':['Pink', 'White', 'Light-blue', 'Grey', 'Red'], 
              'Probability to buy':[1.0, 0.8, 0.0, 0.6, 0.5]}

df_from_dicts = pd.DataFrame(total_dict)
df_from_dicts

   Car name       Color  Probability to buy
0       BMW        Pink                 1.0
1  Mercedes       White                 0.8
2   Zhiguli  Light-blue                 0.0
3    Toyota        Grey                 0.6
4     Mazda         Red                 0.5

#### Data manipulations:

In [4]:
df_from_lists.head(3)

    Name  Age    Pet
0   Zayn   24    Cat
1  Harry   22  Louis
2  Louis   26    Dog

In [5]:
df_from_dicts.tail(2)

  Car name Color  Probability to buy
3   Toyota  Grey                 0.6
4    Mazda   Red                 0.5

In [6]:
df_from_lists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Pet     5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [7]:
df_from_dicts.describe()

       Probability to buy
count            5.000000
mean             0.580000
std              0.376829
min              0.000000
25%              0.500000
50%              0.600000
75%              0.800000
max              1.000000

In [8]:
df_from_lists['Name']

0     Zayn
1    Harry
2    Louis
3    Niall
4     Liam
Name: Name, dtype: object

In [9]:
df_from_lists.loc[:, 'Pet']

0      Cat
1    Louis
2      Dog
3     Fish
4      Dog
Name: Pet, dtype: object

In [10]:
df_from_lists.loc[2, 'Pet']

'Dog'

In [11]:
df_from_dicts.iloc[:, 1]

0          Pink
1         White
2    Light-blue
3          Grey
4           Red
Name: Color, dtype: object

In [12]:
df_from_dicts.iloc[0, 0]

'BMW'

In [13]:
df_from_dicts.loc[df_from_dicts['Probability to buy'] > 0.5]

   Car name  Color  Probability to buy
0       BMW   Pink                 1.0
1  Mercedes  White                 0.8
3    Toyota   Grey                 0.6